USE hotel;

-- Tạo bảng 'phong_1'
CREATE TABLE IF NOT EXISTS `phong_1` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
CREATE TABLE IF NOT EXISTS `phong_10` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 11]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_11'
CREATE TABLE IF NOT EXISTS `phong_11` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 12]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_12'
CREATE TABLE IF NOT EXISTS `phong_12` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 2]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_2` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 3]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_3` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 4]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_4` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 5]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_5'
CREATE TABLE IF NOT EXISTS `phong_5` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 6]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_6'
CREATE TABLE IF NOT EXISTS `phong_6` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 7]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_7` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 8]    Script Date: 8/5/2023 1:12:07 AM ******/
-- Tạo bảng 'phong_8'
CREATE TABLE IF NOT EXISTS `phong_8` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;
/****** Object:  Table [dbo].[phong 9]    Script Date: 8/5/2023 1:12:07 AM ******/
CREATE TABLE IF NOT EXISTS `phong_9` (
    `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
    PRIMARY KEY (`ID`)
) ENGINE=InnoDB;

CREATE TABLE `dangnhap_quanly` (
  `TaiKhoan` varchar(20) NOT NULL,
  `MatKhau` varchar(15) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `dangnhap_quanly` (`TaiKhoan`, `MatKhau`) VALUES
('admin', 'admin');

CREATE TABLE `dangnhap_nhanvien` (
  `TaiKhoan` varchar(20) NOT NULL,
  `MatKhau` varchar(15) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `dangnhap_nhanvien` (`TaiKhoan`, `MatKhau`) VALUES
('123', '123');

INSERT INTO `dangnhap_nhanvien` (`TaiKhoan`, `MatKhau`) VALUES
('123', '123');

CREATE TABLE `loaiphong` (
  `ID` int(11) NOT NULL,
  `loaiphong` varchar(30) NOT NULL,
  `DonGia` float NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `thong_ke` (
  `ID` int(11) NOT NULL,
    `loaiPhong` char(10) DEFAULT NULL,
    `donGia` float DEFAULT NULL,
    `soGio` int(11) DEFAULT NULL,
    `hoaDon` char(15) DEFAULT NULL,
    `ngayNhan` date DEFAULT NULL,
    `ngayTra` date DEFAULT NULL,
    `maHoaDon` int(11) DEFAULT NULL,
    `tenKhachHang` varchar(50) DEFAULT NULL,
    `ngayLapHoaDon` date DEFAULT NULL,
    `thanhTien` float DEFAULT NULL,
    `soNgayO` int(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

